@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@500&family=Lato:ital,wght@0,300;0,400;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;1,300&family=Source+Sans+Pro:wght@300&display=swap");

body {
  margin: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background-color: salmon;
  font-family: "Permanent Marker", cursive;
}
